<link rel="stylesheet" href="/bootstrap/bootstrap.css">
<form action="/users" method="post" class="container mt-2 w-50">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="text" class="form-control w-50"/>
  </div>
  <div class="mb-3">
    <label for="contrase침a" class="form-label">Contrase침a</label>
    <input name="contrase침a" type="text" class="form-control w-50"/>
  </div>
    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input name="email" type="text" class="form-control w-50"/>
  </div>
    <div class="mb-3">
    <label for="fechaCreacion" class="form-label">Fecha de Creaci칩n</label>
    <input name="fechaCreacion" type="date" class="form-control w-50"/>
  </div>
  <button class="btn btn-primary">Agregar tarea</button>
</form>
<script src="/BootstrapJs/bootstrap.js"></script> 