<form action="/users" method="post" class="container mt-2 w-50">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="nombre" type="text" class="form-control w-50"/>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Password</label>
    <input name="descripcion" type="text" class="form-control w-50"/>
  </div>
    <div class="mb-3">
    <label for="descripcion" class="form-label">Email</label>
    <input name="descripcion" type="text" class="form-control w-50"/>
  </div>
    <div class="mb-3">
    <label for="fechainicio" class="form-label">Fecha de Creación</label>
    <input name="fechainicio" type="date" class="form-control w-50"/>
  </div>
  <button class="btn btn-primary">Agregar tarea</button>
</form>